{% extends "base.html.twig" %}

{% block title %}Cards Game{% endblock %}

{% block body %}
<h1>Routes</h1>

<ul class="apiStyle">
        <li><a href="{{ path('deck_json') }}">Show all cards</a></li>
        <p>JSON route that shows all the cards in a deck</p>
        <li><a href="{{ path('quote') }}">Random quote</a></li>
        <p>JSON route that shows a random quote</p>
</ul>

<form method="post" action="">
<ul>
    <p>
       <li> <input type="submit" name="shuffle" value="Shuffle"
    onClick="this.form.action='{{ path('shuffle_cards_json') }}';"
    ></li>
    <p> POST route that shuffles and returns the deck in JSON. It is also saved in the session.</p>

    <li><input type="number" name="num_cards" min="1" max="52" value="1">
    <input type="submit" name="do_it" value="Draw cards" 
    onClick="this.form.action='{{ path('draw_multiple_cards_json') }}';"
    ></li>
    <p> POST route that can draw one or multiple cards and returns it in JSON. You can see how many cards that are left after you have drawn a number of cards 
    and it is also saved in the session.</p>

</form>


{% if num_cards is defined and cardRoll is defined %}
    <p>Number of cards: {{ num_cards }}</p>
    <ul class="cardList">
        {% for card in cardRoll %}
            <li><div class="card">{{ card }}</div></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}